{% include 'cabecera.html' %} <!--esto es de flask-->

<br> <br> <br>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{{url_for('inicio.static', filename='assets/img/personal-care-12.png')}}" alt="..."/>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Nuestra magia en productos 
            de cuidado corporal, cuidado capilar y aseo personal.</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">NOSOTROS TE CUIDAMOS </p>
    </div>
</header>

{% include 'pie.html' %}