<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contactanos</h4>
                <p class="lead mb-0">
                    Sede principal<br>
                    Cra 53 Nº 78 sur- 59<br>
                    PBX: +57 604 302 1717<br>
                    info@FellFace.com.co<br>
                    
                </p>
            </div>
            <!-- Footer Social Icons-->
           <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Siguenos En</h4>
            
            <img class="card-img-top" src="{{url_for('inicio.static', filename='assets/img/icons1.png')}}" alt="Title">
           
        </div>
        <!-- Footer About Text-->
        <div class="col-lg-4">
            <h4 class="text-uppercase mb-4">Medios de pago</h4>
            <p class="lead mb-0">
                <img class="card-img-top" src="{{url_for('static', filename='assets/img/mercadopago.png')}}" alt="Title">
                
            </p>
        </div>
        </div>
    </div>
</footer>