{% include 'cabecera.html' %} <!--esto es de flask-->
<br><br><br><br>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">En nuestra empresa comienza
             la magia para crear…</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Contribuimos a la operación y al desarrollo de la industria a través 
            del uso de química y color, basando nuestras actividades en la generación de confianza.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">
                Cumplimos el marco legal vigente, la normatividad acogida por la compañía y los principios de Responsabilidad Integral. Implementamos y mantenemos un 
                sistema de gestión basado en riesgos, que nos permite identificarlos, valorarlos y controlarlos.
            </p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://web.whatsapp.com/">
                <i class="fas fa-download me-2"></i>
                Escribenos!
            </a>
            <img class="masthead-avatar mb-5" src="static/assets/img/personal-care.png" alt="..." /> 
        </div>

    </div>
</section>

{% include 'pie.html' %}